<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="/static/theme.js"></script>
    <style>
        .material-symbols-outlined {
            vertical-align: top;
        }
        .center {
            text-align: center;
        }

        .left-margin {
            margin-left: 10px;
        }
    </style>
    {% block head %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a id="home" class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a id="contracts" class="nav-link" href="/contracts/">Contracts</a>
                    </li>
                    <li class="nav-item">
                        <a id="ships" class="nav-link" href="/ships/">Ships</a>
                    </li>
                    <li class="nav-item">
                        <a id="systems" class="nav-link" href="/systems/">Systems</a>
                    </li>
                    <li class="nav-item">
                        <a id="map" class="nav-link" href="/map/">Map</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block body %}
    {% endblock %}
    <script>
      var element = document.getElementById("{% block navid %}{% endblock %}");
        element.classList.add("active");
    </script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>