{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}
{% block body %}
    <h1 class="center">{{ agent.symbol }}</h1>
    <p class="center">{{ agent.credits }} <span class="material-symbols-outlined">credit_card</span></p>
    <p class="center">{{ agent.headquarters }} <span class="material-symbols-outlined">home</span></p>
    <h2 class="center">Ships</h2>
    <div class="row" style="margin-left: 25px">
    {% for ship in agent.ships %}
        <div class="card" style="width: 18rem; margin: 17px 10px">
            <div class="card-body">
                <h5 class="card-title"><a href="/ship/{{ ship.symbol }}">{{ ship.symbol }}</a></h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ ship.frame.name }} <span class="material-symbols-outlined">rocket_launch</span></li>
                <li class="list-group-item"><a href="/waypoint/{{ ship.nav.location }}">{{ ship.nav.location }} <span class="material-symbols-outlined">location_on</span></a></li>
                <li class="list-group-item">{{ ship.status }}</li>
                {% if ship.fuel.total != 0 %}
                    {% if 100*(ship.fuel.current/ship.fuel.total) > 70 %}
                        {% set pb_color = "bg-success" %}
                    {% elif 100*(ship.fuel.current/ship.fuel.total) > 40 %}
                        {% set pb_color = "bg-warning" %}
                    {% else %}
                        {% set pb_color = "bg-danger" %}
                    {% endif %}
                    <li class="list-group-item">
                        <div class="progress" role="progressbar" aria-label="labeled fuel bar" aria-valuenow="{{ ship.fuel.current }}" aria-valuemin="0" aria-valuemax="{{ ship.fuel.total }}">
                            <div class="progress-bar {{ pb_color }} overflow-visible" style="width: {{ 100*(ship.fuel.current/ship.fuel.total) }}%">Fuel: {{ ship.fuel.current }}/{{ ship.fuel.total }}</div>
                        </div>
                    </li>
                {% else %}
                    <li class="list-group-item">
                        No Fuel
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endfor %}
    </div>
    <h2 class="center">Contracts</h2>
    <div class="row" style="margin-left: 25px">
    {% for contract in agent.contracts %}
        <div class="card" style="width: 18rem; margin: 17px 10px">
            <div class="card-body">
                <h5 class="card-title"><a href="/contract/{{ contract.contract_id }}">{{ contract.contract_id }}</a></h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ contract.deadline }} <span class="material-symbols-outlined">schedule</span></li>
                <li class="list-group-item">Accepted: {{ contract.on_accepted }} <span class="material-symbols-outlined">credit_card</span></li>
                <li class="list-group-item">Fulfilled: {{ contract.on_fulfilled }} <span class="material-symbols-outlined">credit_card</span></li>
                <li class="list-group-item">Status: {% if contract.fulfilled %}Fulfilled{% elif contract.accepted %}Accepted{% else %}Not Accepted{% endif %}</li>
            </ul>
        </div>
    {% endfor %}
    </div>
{% endblock %}
{% block navid %}home{% endblock %}"