{% extends 'base.html' %}
{% block title %}
Ships
{% endblock %}
{% block body %}
     <table class="table table-hover">
        <tr>
            <th>Ship</th>
            <th>Location</th>
            <th>Status</th>
            <th>Cargo</th>
            <th>Fuel</th>
        </tr>
        {% for ship in ships %}
            <tr onclick="window.location.href = '/ship/{{ ship.symbol }}'">
                <td>{{ ship.symbol }}</td>
                <td>{{ ship.nav.location }}</td>
                <td>{{ ship.nav.status }}</td>
                <td>{{ ship.cargo.current }}</td>
                <td>{{ ship.fuel.current }}/{{ ship.fuel.total }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block navid %}ships{% endblock %}"