{% extends 'base.html' %}
{% block title %}
Ship - {{ symbol }}
{% endblock %}
{% block body %}
    <h1 style="text-align: center"><span id="symbol"></span></h1>
    <p class="left-margin">Status: <span id="status"></span></p>
    <p class="left-margin">Location: <a id="location_link"><span id="location"></span></a></p>
    <p class="left-margin">Fuel: <span id="fuel"></span>/<span id="max_fuel"></span></p>
    <p class="left-margin">Cargo: <span id="cargo_capacity"><span id="current_cargo"></span>/<span id="max_cargo"></span></p>
    <ul class="list-group left-margin" style="max-width: 400px;margin-bottom: 10px" id="cargo">
    </ul>
    <div class="btn-group left-margin" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" onclick="extract()">Extract</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#navigateModal">Navigate</button>
        <button type="button" class="btn btn-primary" onclick="dock()">Dock</button>
        <button type="button" class="btn btn-primary" onclick="orbit()">Orbit</button>
        <button type="button" class="btn btn-primary" onclick="refuel()">Refuel</button>
    </div>
    <div class="modal fade" id="navigateModal" tabindex="-1" aria-labelledby="NavigateModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="NavigateModal">Navigate {{ symbol }}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
                <div class="mb-3">
                  <label for="place" class="form-label">Waypoint</label>
                  <input type="text" class="form-control" id="place">
                </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="jump()">Jump</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="warp()">Warp</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="navigate()">Navigate</button>
          </div>
        </div>
      </div>
    </div>
    <script>
    refresh();

    function navigate() {
        fetch("/ship/{{ symbol }}/navigate?place=" + document.getElementById("place").value);
        setTimeout(function() {
            refresh();
        }, (500));
    }

    function jump() {
        fetch("/ship/{{ symbol }}/jump?place=" + document.getElementById("place").value);
        setTimeout(function() {
            refresh();
        }, (500));
    }

    function warp() {
        fetch("/ship/{{ symbol }}/warp?place=" + document.getElementById("place").value);
        setTimeout(function() {
            refresh();
        }, (500));
    }
    function extract() {
        fetch("/ship/{{ symbol }}/extract");
        setTimeout(function() {
            refresh();
        }, (500));
    }

    function dock() {
        fetch("/ship/{{ symbol }}/dock");
        setTimeout(function() {
            refresh();
        }, (500));
    }

    function orbit() {
        fetch("/ship/{{ symbol }}/orbit")
        setTimeout(function() {
            refresh();
        }, (500));
    }

    function refuel() {
        fetch("/ship/{{ symbol }}/refuel")
        setTimeout(function() {
            refresh();
        }, (500));
    }

    async function refresh() {
        let data = await fetch("/ship/{{ symbol }}/api");
        let j = await data.json();
        console.log(j)
        document.getElementById("symbol").innerHTML = j.symbol;
        document.getElementById("status").innerHTML = j.status;
        document.getElementById("location").innerHTML = j.location;
        document.getElementById("location_link").href = "/waypoint/" + j.location;
        document.getElementById("fuel").innerHTML = j.fuel;
        document.getElementById("max_fuel").innerHTML = j.max_fuel;
        document.getElementById("current_cargo").innerHTML = j.current_cargo;
        document.getElementById("max_cargo").innerHTML = j.max_cargo;
        let cargo = document.getElementById("cargo");
        let text = ""
        Object.entries(j.cargo).forEach(([key, value]) => {
            text += "<li class='list-group-item'>" + key + ": " + value + "</li>"
        })
        cargo.innerHTML = text;
    }
    </script>
{% endblock %}
{% block navid %}ships{% endblock %}"