{% extends 'base.html' %}
{% block title %}
Systems
{% endblock %}
{% block body %}
     <table class="table table-hover">
        <tr>
            <th>Symbol</th>
            <th>Number of Waypoints</th>
            <th>Coordinates</th>
            <th>Factions</th>
        </tr>
        {% for system in systems %}
            <tr onclick="window.location.href = '/system/{{ system.symbol }}'">
               <td>{{ system.symbol }}</td>
               <td>{{ system.waypoints.__len__() }}</td>
               <td>({{ system.x }}, {{ system.y }})</td>
               <td>({{ system.factions }})</td>
            </tr>
        {% endfor %}
    </table>
    <nav aria-label="Pagination">
        <ul class="pagination left-margin">
            {% if page > 1 %}
                <li class="page-item"><a class="page-link" href="/systems/?page={{ page-1 }}">Previous</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="/systems/#">Previous</a></li>
            {% endif %}
            {% for i in li %}
                {% if i == page %}
                    <li class="page-item"><a class="page-link active" href="/systems/?page={{ i }}">{{ i }}</a></li>
                {% elif i == ".." %}
                    <li class="page-item disabled"><a class="page-link" href="/systems/?page={{ i }}">{{ i }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="/systems/?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page < 250 %}
                <li class="page-item"><a class="page-link" href="/systems/?page={{ page+1 }}">Next</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="/systems/#">Next</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
{% block navid %}systems{% endblock %}"